.josh{
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.card{
    margin: 0 auto ;
    padding: 20px;
    width: 400px;
    display: flex;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}





